.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 2rem;
    color: white;
    /* background: linear-gradient(135deg, #141c2c 0%, #1d2a42 100%); */
    border-radius: 20px;
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); */
    position: relative;
    overflow: hidden;
    margin: 2rem;
    height: 90vh;

}

/* .contact-container::after {
    content: '';
    position: absolute;
    top: -50px;
    right: -50px;
    width: 150px;
    height: 150px;
    background: rgba(133, 91, 177, 0.1);
    border-radius: 50%;
} */

.contact-content {
    text-align: center;
    max-width: 800px;
    width: 100%;
}

.title {
    background: linear-gradient(to right, #3886bb, #855bb1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.subtitle {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 3rem;
    opacity: 0.9;
}

.contact-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #19191e;
    border-radius: 50%;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.icon-circle:hover {
    transform: scale(1.1);
}

.icon {
    color: #7950d0;
    font-size: 1.8rem;
}

.icon-label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.icon-contact {
    color: #b3b3b3;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .contact-icons {
        flex-direction: column;
        align-items: center;
    }

    .icon-item {
        margin-bottom: 1.5rem;
    }
}