.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  padding: 1rem 2rem;
  background: linear-gradient(135deg, #855bb1, #3886bb);
  background-size: 600% 600%;
  animation: animateGradient 3s ease infinite;
  border-radius: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header {
  background-color: #141c2c;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.brand {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.icon-header {
  color: white;
  font-size: 1.3rem;
  transition: transform 0.2s;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.menu-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  padding: 8px;
}

.menu-link::after {
  content: "";
  display: block;
  width: 0;
  height: 1.5px;
  background: linear-gradient(90deg, #855bb1, #3886bb);
  transition: width 0.4s;
}

.menu-link:hover::after {
  width: 100%;
}


.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}


@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #141c2c;
    padding: 1rem 0;
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .menu.open {
    display: flex;
  }

  .right-section {
    gap: 1rem;
  }

  .menu-toggle {
    display: block;
  }
}